@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body{
    font-family: 'Exo', sans-serif;
    overflow-x: hidden; /* Prevent horizontal overflow */
    max-width: 100%; /* Constrain container within viewport */
  
}


.context {
    width: 100%;
    position: absolute;
    top: 10vh;
    z-index: 18;
}

.context h1,h2{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8, #7377c7);  
    width: 100%;
    height:65vh;
   
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    height:65vh;

    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.circles li:nth-child(1){
    left: 25%;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    
    left: 70%;
    width: fit-content;
    height: fit-content;
    padding: 40px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: fit-content;
    height: fit-content;
    padding: 25px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 60%;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    animation-delay: 2s;
}

.circles li:nth-child(7){
    left: 35%;
    width: fit-content;
    height: fit-content;
    padding: 22px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: fit-content;
    height: fit-content;
    padding: 39px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: fit-content;
    height: fit-content;
    padding: 27px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: fit-content;
    height: fit-content;
    padding: 24px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.clouds-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px; /* Adjust the height as needed */
}
@keyframes animateright {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(200%); /* Move the cloud to the right side */
  }
  100% {
    transform: translateX(0%); /* Move the cloud back to the left side */
  }
}

@keyframes animateleft {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-200%); /* Move the cloud to the right side */
  }
  100% {
    transform: translateX(0%); /* Move the cloud back to the left side */
  }
}

  .top-cloud {
    position: absolute;
    right: 0px;
    top: 25vh;
    animation: animateleft 10s linear infinite;
  }
    
  .bottom-cloud{
    position: absolute;
    left: 0px;
    top:40vh;
    animation: animateright 10s linear infinite;
  }
 

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    
    50%{
        transform: translateY(-500px) rotate(360deg);
        opacity: 1;
        border-radius: 50%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 1;
        border-radius: 50%;
    }

}
  
 
  
  .cus-body{
   color: white;
    background: rgb(143,148,251);
    background: linear-gradient(300deg, rgba(143,148,251,1), rgba(131,96,195,1), rgba(46,191,145,1));
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
   
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  